jQuery(document).ready(function($) {
	if (typeof(tinymce) != "undefined") {
	tinymce.create( 
		'tinymce.plugins.%%LNAME%%', 
		{
		    /**
		     * @param tinymce.Editor editor
		     * @param string url
		     */
		    init : function( editor, url ) {
				/**
				*  register a new button
				*/
				editor.addButton(
					'%%LNAME%%_button', 
					{
						cmd   : '%%LNAME%%_button_cmd',
						title : editor.getLang( '%%LNAME%%.buttonTitle', '%%LNAME%% Shortcode adder' ),
						image : url + '/../../toolbar-icon.png',
						onclick: function(){ editor.selection.setContent('[%%NAME%% action=\'index\']' + editor.selection.getContent() + '[/%%NAME%%]');}
					}
				);
				/**
				* and a new command
				*/
				editor.addCommand(
					'%%LNAME%%_button_cmd',
					function() {
						/**
						* @param Object Popup settings
						* @param Object Arguments to pass to the Popup
						*/
						editor.windowManager.open(
							{
								// this is the ID of the popups parent element
								id       : 'cubetech_image_carousel_dialog',
								width    : 480,
								title    : editor.getLang( '%%LNAME%%.popupTitle', '%%LNAME%% Shortcode adder' ),
								height   : 'auto',
								wpDialog : true,
								display  : 'block',
							},
							{
								plugin_url : url
							}
						);
					}
				);
			}
		}
	);
	
	// register plugin
	tinymce.PluginManager.add( '%%LNAME%%', tinymce.plugins.%%LNAME%% );
	}
});